/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: 'EnglishTowne';
    src: url('./fonts/EnglishTowne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {

/* Colors */
    --main-color: #4e773c;
    --second-color: #324d26;
    --third-color: #d9cb4c;

/* Fonts */
    --biggest-font-size: 4.5rem;
    --big-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

/* Font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

}

section {
    padding: 50px 10%;
}

*::selection {
    color: white;
    background: var(--main-color);
}

img {
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0 4px 41px rgb(14, 55, 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1 rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ded9ab;
    gap: 1rem;
}

.home-text {
    flex: 1 1 17rem;
}

.home-img {
    flex: 1 1 17rem;
}

.home-img img {
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-11px, 0);
    }

    50% {
        transform: translate(-0px, -11px);
    }

    100% {
        transform: translate(-11px, 0);
    }
}

.home-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.home-text h1 {
    font-family: 'EnglishTowne', serif;
    font-size: 7rem;
    color: var(--main-color);
    font-weight: lighter;
}

.home-text h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    margin: 0.5rem 0 1.4rem;
}

.btn {
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}

.btn:hover {
    color: white;
    background: var(--second-color);
}

.heading {
    text-align: center;
    text-transform: uppercase;
}

.heading span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}

.heading h1 {
    font-size: 2rem;
    color: var(--main-color);
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}

.shop-container .box {
    flex: 1 1 10rem;
    background-color: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}

.shop-container .box .box-img {
    width: 150px;
    height: 150px;
    margin-top: -100px;
}

.shop-container .box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.stars {
    margin: 1rem 0 0.1rem;
    color: #ebdbc8;
}

.shop-container .box h2 {
    color: #ebdbc8;
    font-size: 1.2rem;
}

.shop-container .box span {
    color: #ebdbc7;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}

.box .btn {
    border: 2px solid #ebdbc8;
    color: #ebdbc8;
}

.box .btn:hover {
    background-color: #ebdbc8;
    color: var(--second-color);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.about-img,
.recipe-img {
    flex: 1 1 21rem;
}

.about-img img,
.recipe-img img {
    max-width: 100%;
    height: auto;
}

.about-text,
.recipe-text {
    flex: 1 1 21rem;
}

.about-text h2, 
.recipe-text h2 {
    font-size: 1.2rem;
    color: var(--second-color);
    margin: 0.5rem 0 1rem;
}

.about-text p,
.recipe-text p {
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.team{
    display: flex;
    flex-wrap: wrap;
    background: #ebdbc8;
    gap: 1.5rem;
}

.team-img{
    flex: 1 1 17rem;
}

.team-text{
    flex: 1 1 17rem;
}

.team-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}

.team-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.invite__container,
.invite__info{
    row-gap: 2rem;
}

.invite__info{
    color: var(--second-color);
    text-align: center;
}

.invite__title{
    font-size: var(--h1-font-size);
}

.invite__social{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.invite__social-link{
    font-size: 1.5rem;
    color: var(--main-color);
    transition: transform .4s;
}

.invite__social-link:hover{
    transform: translateY(-.25rem);
}

.invite__address{
    font-style: normal;
}

.invite__map{
    color: black;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    margin-top: .5rem;
    font-size: 1rem;
}

.invite__map span{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}

.invite__images{
    position: relative;
    display: grid;
    justify-items: center;
    margin-top: 3rem;
}

.invite__shape{
    width: 300px;
    height: 300px;
    background-color: var(--main-color);
    border-radius: 50%;
}

.invite__image{
    width: 400px;
    position: absolute;
    top: -1.5rem;
    mask-image: linear-gradient(to bottom,
                var(--main-color) 80%,
                transparent 100%);
}

.stages{
    position: relative;
}

.stages__container{
    position: relative;
    row-gap: 3rem;
}

.stages__data{
    text-align: center;
}

.stages__data span{
    font-size: 0.9rem;

}

.stages__data h1{
    font-size: 1.5rem;
}

.stages__description{
    margin-bottom: 2rem;
}

.stages__card{
    width: 260px;
    background-color: white;
    border: 2px solid var(--third-color);
    padding: 2rem 1rem 3.5rem;
    transition: border-color .4s;
}

.stages__card:hover{
    border-color: var(--main-color);
}

.stages__icon{
    width: 70px;
    height: 70px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.stages__title{
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}

.stages__shape{
    position: absolute;
    width: 100%;
    height: 245px;
    background-color: var(--second-color);
    bottom: 0;
    left: 0;
}

.swiper{
    margin-inline: initial;
    padding-bottom: 4rem;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    content: '';
}

.swiper-button-next,
.swiper-button-prev{
    top: initial;
    bottom: 0;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 2px 8px hsla(255, 8%, 4%, .1);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--second-color);
}

.swiper-button-prev{
    left: calc(50% - 3rem);
}

.swiper-button-next{
    right: calc(50% - 3rem);
}

/* Footer */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social a{
    font-size: 27px;
    margin: 0.5rem;
}

.social a .ri-github-fill{
    padding: 5px;
    color: #fff;
    background: black;
    border-radius: 50%;
}

.social a .ri-github-fill:hover{
    background-color: var(--main-color);
}

.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}

.links a:hover{
    color: var(--main-color);
}

.footer p{
    text-align: center;
    margin: 1rem 0 1rem;
}

/* Scroll bar */
::-webkit-scrollbar{
    width: 0.6rem;
    background-color: var(--second-color);
}

::-webkit-scrollbar-thumb{
    width: 0.6rem;
    background-color: var(--third-color);
}

::-webkit-scrollbar-thumb:hover{
    width: 0.6rem;
    background-color: #ebdbc8;
}


/* Scroll up */


/* Making our website responsive */

@media (max-width: 330px) {
    .invite__shape{
        width: 250px;
        height: 250px;
    }
    .invite__image{
        width: 190px;
    }
}

@media (max-width: 364px) {
    .links{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 560px) {
    .home-text{
        padding-top: inherit;
    }
    .shop-container .box{
        margin-top: 6rem;
    }
    .heading h1{
        font-size: 1.5rem;
    }
    .heading span{
        font-size: 0.9rem;
    }
    .team{
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px) {
    header{
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14, 55, 54 / 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: center;
    }
    .navbar.active{
        top: 100%;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
        color: var(--second-color);
    }
    .home-text span{
        font-size: 0.9rem;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .home-text h2{
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    .invite__container{
        justify-content: center;
    }
    .invite__info{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        column-gap: 6rem;
    }
}

@media (max-width: 991px) {
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
}

@media (max-width: 1150px) {
    header{
        padding: 18px 7%;
    }
    section{
        padding: 50px 7%;
    }
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h2{
        font-size: 1.5rem;
    }
}

@media (min-width: 1150px) {
    .container{
        margin-inline: auto;
    }
    .invite .heading .h1{
        font-size: var(--biggest-font-size);
    }
    .invite__container{
        grid-template-columns: repeat(3, max-content);
        align-items: flex-start;
        column-gap: 3rem;
    }
    .invite__info{
        grid-template-columns: max-content;
        row-gap: 6rem;
        margin-top: 7rem;
    }
    .invite__info:nth-child(2){
        order: 2;
    }
    .invite__title{
        font-size: var(--h2-font-size);
        margin-bottom: 1rem;
    }
    .invite__social{
        column-gap: 1.5rem;
    }
    .invite__images{
        margin-top: 0;
    }
    .invite__shape{
        width: 500px;
        height: 500px;
    }
    .invite__image{
        width: 650px;
        top: -3,5rem;
    }
}